footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    height: 88px;
    p {
        padding-top: 24px;
        text-align: center;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
    .contenedor-redes{
        display: flex;
        justify-content: space-around;
        margin: 16px 30px;
        i{
            font-size: 12px;
        }
    }
}