@media (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
    }

    header {
        position: sticky;
        top: 0;
        padding: 0;
        z-index: 3;
        background-color: white;
        //header
        .fa-bars {
            display: none;
        }
        nav {
            justify-content: space-between;
            margin: 0 6.9%;
            height: 80px;

            .logo {
                width: 36px;
            }
            .listas-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    background: white;
                    padding: 0;
                    margin-left: 48px;

                    a {
                        color: #060A24;
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 28px;
                        &:hover{
                            color: #00F3BB ;
                            text-decoration: line-through;
                        }
                        &:active{
                            text-decoration: line-through;
                           color: #060a248f;
                        }
                    }
                }
            }
        }

        
    }

    .txt-header {
        margin-left: 13.9%;
        padding:0 ;

        h1 {
            margin-top: 120px;
            font-size: 64px;
            width: 100%;

            &:after {
                content: ".";
                color: #0000EC;
            }
        }
        .boton {
            width: 226px;
            height: 56px;
            padding: 0;
            margin: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            &:hover{
                color: white;

                background-image: linear-gradient(to left, #0000FE, #00F0B8 );
            }
        }

        p {
            visibility: hidden;
            width: 628px;
            margin-bottom: 56px;
        }

        p:before {
            font-size: 16px;
            content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
            visibility: visible;

        }

    }

    //termina header
    .episodios {
        padding: 0;
        margin: 0;
        display: block;
        padding-top: 176px;
        h2{
            margin: 0;
            padding: 0;
            margin-left: 13.9%;
            font-size: 48px;
        }

        .contenedor-podcast {
            padding: 0;
            margin: 26px 6.9%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            iframe {
                margin: 0;
                max-width: 47.048%;
                max-height: 232px;
                padding-bottom: 72px;
            }
        }
    }

    // empieza sección de nosotros
    .nosotros {
        .contenedor-nosotros {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                margin-right: 0;

                width: 31.8%;
                transform: translateY(-33px);
                margin-left: 13.9%;
            }

            .nosotros-text-container {
                margin: 0;
                padding: 0;
                max-width: 32%;
                margin-right: 17.8%;

                h2 {
                    width: 100%;
                    font-size: 48px;
                    margin-bottom: 24px;
                }

                p {
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: 400;

                }
            }
        }
    }

    //seccion invitados

    .invitados {

        h2 {
            padding: 0;
            font-size: 48px;
            margin-left: 13.9%;
            margin-bottom: 36px;
        }

        .galeria {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            img {
                width: calc(100%/3);
                height: 100%;
            }
        }
    }

    //seccion temas

    .temas{
        padding: 0;
        h2{
            margin-left: 13.9%;
            font-size: 48px;
            margin-top: 64px;
        }
        .contenedor-iconos{
            margin: 56px 15.3% 34px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                margin: 0;
                h3{
                    max-width: 220px;
                }
            }
        }
    }

    //seccion novedades
    .novedades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 518px;
        overflow: hidden;
        .back-oblicuo{
            height: 800px;
        }
        h2{
            font-size: 48px;
        }
        a{
            font-size: 18px;
            padding: 16px 4.1%;
        }
        .boton:hover{
            color: white;
                background-image: linear-gradient(to left, #0000FE, #00F0B8 );
            
        }
    }

    //footer
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        p{
            margin: 0;
            padding: 0;
            margin-left: 6.9%;
            font-size: 16px;
            font-weight: 500;
        }
        .contenedor-redes{
            margin-right: 4.4%;
            .fa-lg{
                margin-right: 36px;
            }
        }
    }
}